<h1>Product details</h1>


    <h2><%= @listing.title %></h2>
    <p><%= @listing.description %></p>

<<<<<<< HEAD
    <div class="to_the_right">
      <h3>Price: $<%= @listing.price %></h3> 
=======


    <div class="to_the_right">
      <h3>Price: $<%= @listing.price %></h3>
>>>>>>> a0d85a88c13ae480a643600c244fb24b69326004
      <%= link_to 'Back', root_path, class: 'back_button' %>
    </div>
